<!--
  Generated template for the ImprovementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Improve Daily Engagement</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list no-lines *ngIf="showDrugs"> 
    <ion-list-header>
      Have you taken right dosage?
    </ion-list-header>
    <ng-container *ngFor="let item of drugs">
      <ng-container *ngFor="let dose of item.doses; let i = index">
      <ion-item *ngIf="dose.visible">
        <ion-label>
          {{item.title}} - dose {{i + 1}}
        </ion-label>
        <button ion-button item-end [outline]="dose.value!='+'" small color=safe icon-only (click)="valueChanged(dose, '+')"><ion-icon name="checkmark"></ion-icon></button>      
        <button ion-button item-end [outline]="dose.value!='-'" small color=danger (click)="valueChanged(dose, '-')">Missed</button>
        <button ion-button item-end [outline]="dose.value!='!'" small color=danger (click)="valueChanged(dose, '!')">Skipped</button>  
      </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
  <ion-list no-lines *ngIf="showNutrients">
  <ion-list-header>
        Have you eaten right amount?
      </ion-list-header>
      <ng-container *ngFor="let item of nutrients" >
        <ion-item *ngIf="item.visible">
          <ion-label>{{item.title}}</ion-label>
          <button ion-button item-end [outline]="item.value!='='" small color=safe icon-only (click)="valueChanged(item, '=')"><ion-icon name="checkmark"></ion-icon></button>      
          <button ion-button item-end [outline]="item.value!='+'" small color=danger icon-left (click)="valueChanged(item, '+')"><ion-icon name="arrow-round-up"></ion-icon>Too much</button>
          <button ion-button item-end [outline]="item.value!='-'" small color=danger icon-left (click)="valueChanged(item, '-')"><ion-icon name="arrow-round-down"></ion-icon>Too little</button>  
        </ion-item>
      </ng-container>
    </ion-list>
    <ion-list no-lines *ngIf="showSymptoms">
        <ion-list-header>
          Have you experienced?
        </ion-list-header>
        <ng-container *ngFor="let item of symptoms" >
          <ion-item *ngIf="item.visible">
            <ion-label>{{item.title}}</ion-label>
            <button ion-button item-end [outline]="item.value!='+'" small color=danger icon-only (click)="valueChanged(item, '+')"><ion-icon name="add"></ion-icon></button>
            <button ion-button item-end [outline]="item.value!='-'" small color=safe icon-only (click)="valueChanged(item, '-')"><ion-icon name="remove"></ion-icon></button>
          </ion-item>
      </ng-container>
      </ion-list>
    <ion-list *ngIf="pendingCount > 0">
      <ion-item>
        {{pendingCount}} pending questions
      </ion-item>
    </ion-list>     
    <ion-list>
      <ng-container *ngFor="let item of buttons; let i = index" >
        <button ion-button large icon-left block (click)="openItemDetailPage(item)" *ngIf="showButtons[i]">
          <ion-icon name="{{item.iconName}}"></ion-icon>{{item.title}}
        </button>
      </ng-container>
    </ion-list> 
</ion-content>
