<ion-view title="Diet Summary" id="page3">
  <ion-content padding="true" class="has-header">
    <h4 id="dietSummary-heading2" style="color:#000000;text-align:center;">DD/MM/YYYY</h4>
    <div>
      <img src="img/XbKBhCM4SoOjSxy4pYSr_Diet.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="dietSummary-list6">
      <ion-item class="item-thumbnail-left" id="dietSummary-list-item24">
        <h2>Green 1</h2>
        <p>Amount</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dietSummary-list-item25">
        <h2>Green 2</h2>
        <p>Amount</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dietSummary-list-item26">
        <h2>Green 3</h2>
        <p>Amount</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>