<ion-view title="Home" id="page6">
  <ion-content padding="true" class="has-header">
    <h4 id="home-heading11" style="color:#0D58F6;">Pages</h4>
    <ion-list id="home-list5">
      <ion-item id="home-list-item13" ui-sref="riskyEvents()">Risky Events</ion-item>
      <ion-item id="home-list-item14" ui-sref="symptoms()">Symptoms</ion-item>
      <ion-item id="home-list-item15" ui-sref="reportingAdherence()">Reporting Adherence</ion-item>
      <ion-item id="home-list-item23" ui-sref="dailySummary()">Daily Summary</ion-item>
      <ion-item id="home-list-item48" ui-sref="weekReport()">Week Report</ion-item>
    </ion-list>
  </ion-content>
</ion-view>