<ion-view title="Reporting Adherence" id="page8">
  <ion-content padding="true" class="has-header">
    <h4 id="reportingAdherence-heading12" style="color:#000000;text-align:center;">DD/MM/YYYY</h4>
    <div>
      <img src="img/AWLfaQtHQrqhascRNTzU_healthy-food-fill-raw.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div id="reportingAdherence-container2">
      <form id="reportingAdherence-form16" class="list">
        <label class="item item-input" id="reportingAdherence-input10">
          <span class="input-label">Nutrient</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-select" id="reportingAdherence-select20" name="Amount">
          <span class="input-label">Amount</span>
          <select>
            <option>++</option>
            <option>+</option>
            <option>-</option>
            <option>--</option>
          </select>
        </label>
      </form>
    </div>
    <div id="reportingAdherence-container3">
      <form id="reportingAdherence-form18" class="list">
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <label class="item item-input" id="reportingAdherence-textarea3">
          <span class="input-label">Nutrient 2</span><textarea placeholder=""></textarea></label>
        <label class="item item-select" id="reportingAdherence-select21" name="Amount">
          <span class="input-label">Amount</span>
          <select>
            <option>++</option>
            <option>+</option>
            <option>-</option>
            <option>--</option>
          </select>
        </label>
      </form>
      <form id="reportingAdherence-form19" class="list">
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <label class="item item-input" id="reportingAdherence-textarea4">
          <span class="input-label">Nutrient 3</span><textarea placeholder=""></textarea></label>
        <label class="item item-select" id="reportingAdherence-select22" name="Amount">
          <span class="input-label">Amount</span>
          <select>
            <option>++</option>
            <option>+</option>
            <option>-</option>
            <option>--</option>
          </select>
        </label>
      </form>
    </div>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <div>
      <img src="img/b3PVLOsnRdSFAuY6Hx5B_iStock_000008768191_Large.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="reportingAdherence-container5">
      <form id="reportingAdherence-form21" class="list">
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <label class="item item-input" id="reportingAdherence-textarea6">
          <span class="input-label">Medication 1</span><textarea placeholder=""></textarea></label>
        <label class="item item-select" id="reportingAdherence-select24" name="Dosage Missed">
          <span class="input-label">Dosage Missed</span>
          <select>
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
          </select>
        </label>
      </form>
      <form id="reportingAdherence-form22" class="list">
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <label class="item item-input" id="reportingAdherence-textarea7">
          <span class="input-label">Medication 2</span><textarea placeholder=""></textarea></label>
        <label class="item item-select" id="reportingAdherence-select25" name="Amount">
          <span class="input-label">Amount</span>
          <select>
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
          </select>
        </label>
      </form>
    </div>
  </ion-content>
</ion-view>