<ion-view title="Risky Events" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/BjNCl7xVS4CblfUqizOl_maxresdefault.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="riskyEvents-form2" class="list">
      <ion-toggle toggle-class="toggle-positive" id="riskyEvents-toggle3" name="All Day">All Day</ion-toggle>
      <label class="item item-input" id="riskyEvents-input6">
        <span class="input-label">Time</span>
        <input type="time" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 38px;"></div>
      <ion-toggle toggle-class="toggle-positive" id="riskyEvents-toggle4" name="Biopsy">Biopsy</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="riskyEvents-toggle5" name="Endoscopy">Endoscopy</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="riskyEvents-toggle6" name="Minor surgery">Minor surgery</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="riskyEvents-toggle7" name="Major surgery">Major surgery</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="riskyEvents-toggle8" name="Dentist">Dentist</ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="riskyEvents-toggle9" name="Diagnostic procedure">Diagnostic procedure </ion-toggle>
      <ion-toggle toggle-class="toggle-positive" id="riskyEvents-toggle10" name="Hospitalization">Hospitalization</ion-toggle>
      <div class="spacer" style="width: 300px; height: 41px;"></div>
      <button id="riskyEvents-button1" class="button button-positive button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>