<ion-view title="Symptoms" id="page2">
  <ion-content padding="true" class="has-header">
    <h4 id="symptoms-heading15" style="color:#000000;text-align:center;">DD/MM/YYYY</h4>
    <div>
      <img src="img/g7W6HRiSS5mJtKNr9tMJ_yeast-overgrowth-symptoms.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="symptoms-form4" class="list">
      <ion-toggle toggle-class="toggle-positive" id="symptoms-toggle32">All Day</ion-toggle>
      <label class="item item-input" id="symptoms-input8">
        <span class="input-label">Time</span>
        <input type="time" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 38px;"></div>
      <label class="item item-select" id="symptoms-select10" name="Palpitation">
        <span class="input-label">Palpitation</span>
        <select>
          <option>absent</option>
          <option>acceptable</option>
          <option>unacceptable</option>
        </select>
      </label>
      <label class="item item-select" id="symptoms-select11" name="Chest Pain">
        <span class="input-label">Chest Pain</span>
        <select>
          <option>absent</option>
          <option>acceptable</option>
          <option>unacceptable</option>
        </select>
      </label>
      <label class="item item-select" id="symptoms-select12" name="Dyspnea">
        <span class="input-label">Dyspnea</span>
        <select>
          <option>absent</option>
          <option>acceptable</option>
          <option>unacceptable</option>
        </select>
      </label>
      <label class="item item-select" id="symptoms-select13" name="Fatigue">
        <span class="input-label">Fatigue</span>
        <select>
          <option>absent</option>
          <option>acceptable</option>
          <option>unacceptable</option>
        </select>
      </label>
      <label class="item item-select" id="symptoms-select14" name="Lightheadness">
        <span class="input-label">Lightheadness</span>
        <select>
          <option>absent</option>
          <option>acceptable</option>
          <option>unacceptable</option>
        </select>
      </label>
      <label class="item item-select" id="symptoms-select15" name="Syncope">
        <span class="input-label">Syncope</span>
        <select>
          <option>absent</option>
          <option>acceptable</option>
          <option>unacceptable</option>
        </select>
      </label>
      <label class="item item-select" id="symptoms-select16" name="Irregular Heartbeat">
        <span class="input-label">Irregular Heartbeat</span>
        <select>
          <option>absent</option>
          <option>acceptable</option>
          <option>unacceptable</option>
        </select>
      </label>
      <label class="item item-select" id="symptoms-select17" name="Polyuria">
        <span class="input-label">Polyuria</span>
        <select>
          <option>absent</option>
          <option>acceptable</option>
          <option>unacceptable</option>
        </select>
      </label>
      <label class="item item-select" id="symptoms-select18" name="Sweating">
        <span class="input-label">Sweating</span>
        <select>
          <option>absent</option>
          <option>acceptable</option>
          <option>unacceptable</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 41px;"></div>
      <button id="symptoms-button2" class="button button-positive button-block">Submit</button>
    </form>
  </ion-content>
</ion-view>