<ion-view title="Week Report" id="page9">
  <ion-content padding="true" class="has-header">
    <h3 id="weekReport-heading18" style="color:#0000000;text-align:center;">Compliance Scores</h3>
    <div>
      <img src="img/qjk6R2OGSuSflrk3WNX6_Bar_graph.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <h3 id="weekReport-heading22" style="color:#0DB1F1;text-align:center;">Medication Compliance</h3>
    <div>
      <img src="img/qjk6R2OGSuSflrk3WNX6_Bar_graph.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <h3 id="weekReport-heading19" style="color:#1FF10D;text-align:center;">Diet Compliance</h3>
    <div>
      <img src="img/qjk6R2OGSuSflrk3WNX6_Bar_graph.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 35px;"></div>
    <h3 id="weekReport-heading20" style="color:#DF0DF1;text-align:center;">Engagement Actions</h3>
    <div>
      <img src="img/qjk6R2OGSuSflrk3WNX6_Bar_graph.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>