page-daily-summary {
    .star-icon {
        font-size:28px;
     }

     .score {
         font-size:32px;
         font-weight: bold;
     }

     .answer-icon {
        width:20px;text-align:right
     }

     .engagement-info {
         font-size:12px;
         color: "gray";
     }
}

img {
    margin: 5px auto;
        top:50%;
    left:50%;
}

