  <!--
  Generated template for the DailySummaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Daily Summary</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
    <!-- <img src="../../assets/OdSlHKsSTbWziDcKsXQH_shutterstock_175331306-300x200.jpg">
    <br /> -->
    
  <ion-list no-lines>
    <ion-list-header>
      How do you feel today?        
    </ion-list-header>
    <ion-item>
      <ion-range [(ngModel)]="wellbeing" min="-5" max="5" steps=10>  
        <ion-icon range-left name="cloudy"></ion-icon>
        <ion-icon range-right name="sunny"></ion-icon>
      </ion-range>            
    </ion-item>
  </ion-list>

  <ion-list no-lines>
    <ion-list-header>
      Your Daily engagement score
      <button ion-button item-right icon-only clear (click)="showEngagementInfo()">
        <ion-icon name="information-circle" ></ion-icon>
      </button>
    </ion-list-header>
    <ion-item item-centered>
      <ion-label class="score">
      {{engagementScore}}%
      <ion-icon *ngFor="let star of stars" [name]="starName(star)" item-first color='light_green' class='star-icon'></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item text-wrap>
      <p>Your engagement score for today may still be improved. Click the button below to do it.</p>
      <button *ngIf="showImprovement" ion-button large block color="secondary" (click)="improveEngagement()">
        Improve Your Engagement Score        
      </button>
    </ion-item>
  </ion-list>

  <ion-list no-lines *ngIf="showDrugs">
    <ion-list-header>
      Right dosage taken
    </ion-list-header>
    <ion-item *ngFor="let item of drugs">
      <ion-thumbnail item-start><img [src]="item.imageUrl"></ion-thumbnail>
      <ion-label><h2>{{item.title}}</h2><p>{{item.description}}</p></ion-label>        
      <ion-icon *ngFor="let dose of item.doses" [name]="iconName(dose.value, DRUG)" [color]="color(dose.value, DRUG)" class="answer-icon" item-right large></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list no-lines *ngIf="showNutrients">
    <ion-list-header>
      Right amount eaten
    </ion-list-header>
    <ion-item *ngFor="let item of nutrients" [hidden]="item.value=='?'">
      <ion-label><h2>{{item.title}}</h2><p>{{item.description}}</p></ion-label>        
      <ion-icon [color]="color(item.value, NUTRIENT)" [name]="iconName(item.value, NUTRIENT)" class="answer-icon" item-right large></ion-icon>
    </ion-item>
  </ion-list>  

  <ion-list no-lines *ngIf="showSymptoms">
    <ion-list-header>
      Symptoms today
    </ion-list-header>
    <ion-item *ngFor="let item of symptoms" [hidden]="item.value=='?'">
      <ion-label>{{item.title}}</ion-label>        
      <ion-icon [color]="color(item.value, SYMPTOM)" [name]="iconName(item.value, SYMPTOM)" class="answer-icon" item-right large></ion-icon>
      <!-- <button ion-button item-end small clear [color]="color(item.value, SYMPTOM)">
        <ion-icon [name]="iconName(item.value, SYMPTOM)" large></ion-icon>
      </button>     -->
  
    </ion-item>
  </ion-list>

</ion-content>
