<!--
  Generated template for the ActionPlanReminderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Aide-mémoire du plan d’action</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="startTime" disabled></ion-datetime>
    </ion-item>        
    <ion-item>
      <ion-label>Heure de début</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="startTime" disabled></ion-datetime>
   </ion-item>        
    <ion-item>
      <ion-label>Temps nécessaire</ion-label>
      <ion-select disabled [(ngModel)] = "action.duration">
          <ion-option value=5>5 min</ion-option>
          <ion-option value=10>10 min</ion-option>
          <ion-option value=15>15 min</ion-option>
          <ion-option value=20>20 min</ion-option>
          <ion-option value=30>30 min</ion-option>
          <ion-option value=45>45 min</ion-option>
          <ion-option value=60>1 h</ion-option>
          <ion-option value=90>1.5 h</ion-option>
          <ion-option value=120>2 h</ion-option>
          <ion-option value=150>2.5 h</ion-option>
          <ion-option value=180>3 h</ion-option>
          <ion-option value=240>4 h</ion-option>
          <ion-option value=300>5 h</ion-option>
          <ion-option value=360>6 h</ion-option>
          <ion-option value=420>7 h</ion-option>
          <ion-option value=480>8 h</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <!-- <ion-list no-lines>
    <ion-item class="title">{{title}}</ion-item>
  </ion-list> -->
  <ion-list>
    <ng-container *ngFor="let item of action.items; let i = index">
      <ion-item *ngIf="item!=''">
        <ion-label text-wrap>{{item}}</ion-label>
        <ion-checkbox [(ngModel)]="action.values[i]"></ion-checkbox>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label stacked>Notes</ion-label>
      <ion-textarea [(ngModel)]="action.notes" placeholder="Consignez la façon dont vous avez pris vos mesures"></ion-textarea>
    </ion-item>
  </ion-list>

</ion-content>
